.WorkCard-text{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.card-para-text{
    padding: 10px 0;
}
.links{
    text-transform: capitalize;
    font-weight: 700;
}
.workNum{
    font-size: 40px;
    background-color: #23259E;
    color: #fff;
    width: 60px;
    text-align: center;
}
.workImg{
    font-size: 60px;
    text-align: center;
    width: 90px;
    
    
}
.WorkCardNum{
    width: 100%;
    display: flex;
   
    align-items: center;
    justify-content: space-between;
}