.primary-btn{
    width: fit-content;
    padding: 10px 1rem;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #23259E;
    cursor: pointer;
    color: #fff;
}
.bg-btn{
    width: fit-content;
    padding: 10px 1rem;
    background-color: #23259E;
    border-radius: 15px;
    cursor: pointer;
    color: #fff; 
}
.service-button-section{
    margin: 1rem;
}
.poster{
    width: 50%;
    margin: 0 auto;
}