.service-section{
    width:80%;
    margin: 0 auto;
}
.service-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.service-text{
    padding-bottom: 10px;
}
.service-title-text{
    font-size: 30px;
}
.service-title-text span{
  text-transform: capitalize;
  font-weight: 700;
 color: #23259E;
}
.service-pera{
    border-left: 2px solid #23259E;
    padding-left: 1rem;
}
.service{
    margin: 1rem 0;
}
.ServiceCard{
    width: 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 10px 0;

}

.card-icons{
    width: 40px ;
    height: 40px;
    font-size: 50px;
    color: #23259E;
}
.cart-title h1{
    font-size: 22px;
    font-weight: 700;
}
.service-platform{
    width: 30%;
    padding: 20px;

}
.title-bold{
    font-size: 22px;
}
.platform-btn{
    color: #000 !important;
}
.platform-title{
    padding: 10px 0;
}















.service-card-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}
.card-name{
    width: 33%;
}
.service-card-main{
    width: 80%;
    margin: 20px auto;
    background-color: #f3f4f6;
}